[submodule "vimplugins/bundle/vim-gitgutter"]
	path = vimplugins/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vimplugins/bundle/lightline.vim"]
	path = vimplugins/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vimplugins/bundle/NERDTree"]
	path = vimplugins/bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree
[submodule "vimplugins/bundle/vimjavascript"]
	path = vimplugins/bundle/vimjavascript
	url = https://github.com/pangloss/vim-javascript
[submodule "cli-visualizer"]
	path = cli-visualizer
	url = https://github.com/dpayne/cli-visualizer
